.divCon{
    margin-top: 5% !important;
}

#rowMain{
    height: 700px;
}
#divMain{
    height: 80% !important;
}
#cont-btns-hash{
    padding-top: 20px;
}

#alertEx{
    z-index: 9999
}
#alertCN{
    z-index: 9999
}